<div class="container">
    <div id="map" class="map"></div>
    <br>
  <input id="search"class="form-control" type="text" placeholder="Search" aria-label="Search">
  <table id="result" class="table table-hover">

  </table>
  <div >
</div>

</div>


<style>
.map{
  width: 100%;
  height: 600px;
}
</style>
<%= javascript_include_tag 'script.js'%>
